footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

footer .fa-brands {
    font-size: 20px;
    padding: 5px;
    color:  var(--primary);
}

footer p {
    text-align: center;
    margin-top: 10px;
}