#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--gold);
}

#header #logo {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

#header #logo h2 {
    font-family: 'Pacifico', serif;
}

#nav_links,
#user_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_link,
.user_link {
    text-decoration: none;
    color: var(--primary);
    transition: .3s ease;
}

.nav_link:hover,
.user_link:hover {
    color: var(--text);
}

.user_link {
    text-decoration: none;
}

#logout {
    padding: 7px 16px;
    background-color: var(--red);
    border-radius: 12px;
    color: var(--white);
    border: none;
}

#logout:hover {
    opacity: .7;
}
