.series_card {
    position: relative;
    width: 210px;
    border: 3px solid var(--secondary);
    overflow: hidden;
    border-radius: 10px;
}

.series_card a {
    text-decoration: none;
    display: block;
    font-family: 'Righteous', serif;
    color: var(--text);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.series_card a:hover {
    color: var(--primary);
}

.series_rating {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 10px;
    bottom: 60px;
    z-index: 1000;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6)
}